.body {
   font-family: 'Roboto', 'Arial', sans-serif;
   font-size: 16px;
   font-color: #283136;
}
.btn {
  color: #ffffff;
  font-size: 16px;
  border-radius: 2px;
  background-color: #fb565a;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 0;
  text-align: center;
}
.main {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.clear::after {
  clear: both;
  display: table;
  content: "";
}

.header {
  background-color: #eee;
}
.header-top {
  background-color: #eee;
  height: 250px;
}
.header-h1 {
  text-align: center;
}
.nav {
    margin-top: 49px;
    padding-bottom: 95px;
}
.logo {
  float: left;
  display: block;
  line-height: 0;
}
.top-nav-list {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 34px;
}
.top-nav-list li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 47px;
}
.top-nav-list a {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
.top-nav-list a.active {
  border-bottom: 2px solid #fd565a;
  padding-bottom: 13px;
}
.top-nav-backet {
  padding-left: 41px;
  background: url(../img/cart-icon.jpg) no-repeat left center;
  margin-left: 245px;
}
.slider {
  float: left;
}
.catalog-list {
  list-style-type: none;
  padding: 0;
  margin: 0
  font-size: 0;
}
.main-filter {
  float: left;
  width: 280px;
}
.catalog-index-item {
  width: 300px;
  float: left;
  margin-right: 100px;
  padding-top: 80px;
}
.catalog-index-item:last-child {
  margin-right: 0;
}
.catalog-index-item img {
  display: block;
  margin-bottom: 23px;
}
.catalog-index-item h3 {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}
.catalog-index-item p {
  color: #283136;
  line-height: 24px;
  padding-right: 30px;
  margin-bottom: 0px;
  margin-top: 25px;
}
.catalog-index-item .btn {
  width: 160px;
  margin-top: 38px;
}
.softr {
  float: left;
  width: 760px;
  height: 50px;
}
.catalog-conteiner {
  float: right;
  width: 760px;
}
.catalog-header {
  float: left;
  margin-right: 40px;
}
.catalog li {
list-style-type: none;
}
.catalog-header:nth-child(2n) {
  margin-right: o;
}
.btn-yellow {
  background-color: #efc84a;
}
.btn-green {
  background-color: #33d590;
}
.btn-inf {
  width: 240px;
}
.btn-write {
  width: 219px;
}
.catalog-btn {
  width: 200px;
}
.main-left {
  float: left;
  width: 680px;
  height: 400px;
  padding-top: 44px;
}
.main-right {
  float: right;
  width: 360px;
  height: 440px;
}
.text {
  margin-top: 122px;
}
.text-item li {
  display: inline;
}
.partners {
  float: left;
  margin-top: 80px;
}
.partners a {
  margin-right: 90px;
}

.map-text {
  width: 320px;
  height: 310px;
  background-color: white;
  text-align: center;
}
.map {
  margin-top: 130px;
  height: 416px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  padding-top: 54px;
}
.footer {
  height: : 217px;
}
.main-social {
  margin-top: 97px;
  float: left;
  width: 280px;
  height: 81px;
}
.main-social img {
  margin-right: 69px;
}
.footer-text {
  margin-top: 77px;
  margin-left: 140px;
  float: left;
  width: 550px;
}
