.body {
   font-size: 16pt;
   line-hight: 1.5;
   font-color: #283136;
   font-weight: "normal";
   font-family: "Roboto";

}

h1 {
  font-size: 55pt;
  line-hight: 1;
  font-color: #000000;
  font-weight: bold;
  font-family: "Roboto";
}

h2 {
  font-size: 45pt;
  line-hight: 1;
  font-color: #000000;
  font-weight: bold;
  font-family: "Roboto";
}

.logo {
  margin-left: 140px;
  margin-top: 49px;
  float: left;
}

.top-nav-list.main-right li {
  display: inline-block;
  float: left;
  text-decoration: none;
  margin-right: 47px;
  margin-top: 83px;
  list-style: none
}


.clearfix {
    height: 0px;
    clear: both;
}

.slider-text {
  float: left;
  margin-left: 140px;
}


.catalog-list li{
  display: inline-block;
  width: 300px;
  margin-left: 140px;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 80px;
  text-decoration: none;
  float: left;
  list-style: noneas
}

.text clear {
  margin-top: 80px;
}

.main-left {
  float: left;
  margin-left: 140px;
}

.main-right {
  display: inline-block;
  float: right;
  margin-right: 140px;
}

.partners a {
  margin-left: 140px;
  margin-right: 103px;
}
.partners {
  margin-top: 80px;
}

.map {
  height: 416px;
  background-image: url("img/map.jpg");
}

.map-text {
  margin-top: 182px;
  margin-left: 140px;
  background-image: url("img/map.jpg");
}

.footer {
  margin-top: 80px;
  margin-left: 140px;
}
.social {
  display: inline-block;
  float: left;
  margin-left: 72px;

}
